{% extends "base.html" %}
{% block content %}
<style>
    .text-white, .card-title, .text-muted, .btn {
        font-family: 'Trispace', sans-serif;
    }

    .masthead {
        background: rgb(255,195,195);
        background: linear-gradient(229deg, rgba(255,195,195,1) 4%, rgba(255,93,93,1) 94%);
        box-shadow: 0 16px 48px #ffc3c3;
    }

    .site-heading {
        padding: 15px;
    }

    .card {
        box-shadow: 0 16px 48px #FFE3A9;
    }
</style>

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white">Welcome to Kurumi's daily log </h3>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left" id="post-start">
            {% for post in post_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                    <p class="card-text">{{post.content|slice:":200" }}</p>
                    <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary btn-danger">Read More &rarr;</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </div>
</div>
{%endblock%}